@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Figtree", sans-serif;
}

.active-nav {
  opacity: 1;
  /* font-weight: 600; */
  border-bottom: 3.5px solid black;
  transition-duration: 250ms;
}

.shadow-custom {
  filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25));
}

.swiper-button-next,
.swiper-button-prev {
  color: black !important;
}

@layer components {
  .card {
    @apply col-span-3 p-8 border-2 cursor-pointer border-black shadow-[0.5rem_0.5rem_0rem_#000] hover:shadow-none duration-700 h-[15rem] flex justify-start items-center;
  }

  .card h3 {
    @apply text-2xl font-semibold text-left;
  }

  .card p {
    @apply hidden;
  }

  .active {
    @apply col-span-6 order-1 duration-700 grid grid-cols-[1fr_2fr] gap-[3rem] items-start h-full cursor-default;
  }

  .active p {
    @apply block text-lg;
  }

  .active h3 {
    @apply text-6xl;
  }

  .in-active {
    @apply col-span-2 order-last duration-700;
  }

  .show-modal {
    @apply bg-[#000000d2] fixed flex justify-center items-center z-[300] top-0 left-0 w-screen h-screen;
  }
}
